* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}

body {
    background: #FFDFDF;
}

.nav {
    overflow: hidden;
    background-color: #8E7AB5;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    /* Aligns items to the start and end of the flex container */
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 75px;
    height: auto;
    margin-right: 10px;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.nav-links a:hover {
    color: black;
}

.nameofweb {
    color: white;
}

.footer {
    background-color: #132043;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer p {
    margin: 0;
}